@import url('https://fonts.cdnfonts.com/css/futura-pt');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'futura', 'sans-serif'; */
}
body{
    width: 100%;
    background-color: #3391e4;
}
main, header, footer{
    max-width: 1440px;
    background-color: #f0f8ff;
    margin: 0 auto;
}


/*DESKTOP*/

@media only screen and (max-width: 1680px){}

/*LAPTOP*/

@media only screen and (max-width: 1440px){}

/*IPAD*/

@media only screen and (max-width: 1024px){}

/*IPHONE*/

@media only screen and (max-width: 600px){}