*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 4rem;
    margin: 2rem 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main #boxTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
#boxTexto {
    width: 40%;
}

#boxTexto h2{
    font-size: 3.5rem;
    margin: 1rem 0;
    color: rgba(0, 0, 255, 0.87);
}

#boxTexto  span{
    width: 600px;
    height: 3px;
    background-color:yellow;
}

#boxTexto p{
    font-size: 1.25rem;
    margin: 2rem 0;
}

#boxTexto a{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#boxImg{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 20%;
    background: rgb(210,234,241);
    background: linear-gradient(200deg, rgba(210,234,241,1) 0%, rgba(171,228,245,1) 19%, rgba(100,219,244,1) 25%, rgba(50,183,220,1) 37%, rgba(174,177,226,1) 49%, rgba(225,146,207,1) 62%, rgba(233,120,189,1) 72%, rgba(197,160,222,1) 76%, rgba(177,171,234,1) 100%);
}
#boxImg .img01{
    width: 70%;
    padding: 0.5rem;
    margin-left: -15rem;
}
#boxImg .img02{
    width: 70%;
    padding: 0.5rem;
    margin-right: -15rem;
}